.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 20px;
  width: 100%;
  gap: 50px;
}

.project-name {
  color: #25282b;
  font-weight: 700;
  font-size: 30px;
  font-family: fantasy;
}

.project-description {
  color: #828282;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  width: 300px;
}

.project-btn {
  background-color: transparent;
  border: 2px solid #25282b;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
  color: #25282b;
  font-weight: 500;
  font-size: 16px;
}

.project-image {
  width: 350px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
